<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Project name
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="shortcut icon", type="image/x-icon", href="images/favicon.ico")
  body
    h1 Hello world!
    h2 Gulp template
    p Gulp boilerplate + Sass + Pug + BrowserSync
    p other